BOT_VERIFY_HASH=replace-me
BOT_VERIFY_SECRET=replace-me
AUTH_SERVICE_TOKEN=replace-me
SQLALCHEMY_DATABASE_URL=postgresql://telegram:Telegram2026@telegram_auth_postgres:5432/telegram_agent
LOG_LEVEL=DEBUG