WHISPERX_SERVICE_TOKEN=_sPk3S
LOG_LEVEL=INFO
WHISPERX_MODEL=large-v3
WHISPERX_DEVICE=cuda
WHISPERX_COMPUTE_TYPE=float16
WHISPERX_BATCH_SIZE=16
WHISPERX_DIARIZATION_ENABLED=true
WHISPERX_HF_TOKEN=hf_J
WHISPERX_CONCURRENCY=1
