TZ=Asia/Taipei
GENERIC_TIMEZONE=Asia/Taipei
N8N_ENCRYPTION_KEY=replace-me
AUTH_SERVICE_TOKEN=replace-me
DB_TYPE=postgresdb
TELEGRAM_AUTH_BASE_URL=http://telegram-auth:8000/api/v1/telegram-auth
DB_POSTGRESDB_USER=n8n
DB_POSTGRESDB_PASSWORD=replace-me
N8N_HOST=ops.com
N8N_PROTOCOL=https
N8N_PORT=5678
WEBHOOK_URL=
N8N_EDITOR_BASE_URL=https://ops.com/
N8N_PROXY_HOPS=1
N8N_SECURE_COOKIE=true
N8N_BLOCK_ENV_ACCESS_IN_NODE=false
N8N_YOUTUBE_NOTIFICATION_WEBHOOK_URL=http://n8n:5678/webhook-test/youtube-notification
N8N_CALLBACK_TOKEN=replace-me

